*.pyc
*.md
.cache
.history
.idea
.pytest_cache
.git

__pycache__
dummy_data
Pipfile
db.sqlite3
.env
.dockerignore
*_initial.py
*.lock
Dockerfile

users/media/profile_image/*.jpg
!users/media/profile_image/default_profile.jpg



