{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block left %}
    <div class="container">
            <div class="row">
                <div class="col-8" style="background-color: white;">
                     <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Check your status</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg btn-block">Check</button>
                        </div>
                    </form>
                </div>
                <div class="col-4" style="background-color: white;padding-top: 1.5em;">
                    <table style="border:none; border-collapse:collapse; cellspacing:0; cellpadding:0; text-align:center;" class="table table-striped">
                      <tr>
                        <th>Donor</th>
                      </tr>
                      <tr>
                        <th>{{ donor.first_name }} {{ donor.last_name }}</th>
                      </tr>
                        <tr>
                        <th>Donated blood(litres)</th>
                      </tr>
                        <tr>
                        <th>{{ donor.given_blood_litres }}</th>
                      </tr>
                        <tr>
                        <th>Status</th>
                      </tr>
                        <tr>
                        <th>{{ donor.donor_status }}</th>
                      </tr>
                        <tr>
                        <th>Can you donate blood</th>
                      </tr>
                        <tr>
                        <th>
                            {% if donor.can_donate == 'Yes' %}
                                <div class="text-success">{{ donor.can_donate }}</div>
                            {% else %}
                                <div class="text-danger">{{ donor.can_donate }}</div>
                            {% endif %}
                        </th>
                      </tr>
                    </table>
                 </div>
            </div>
	</div>

{% endblock %}
{% block right %}
    <b>{{ percentage_admitted }}%</b> donations are acceptable
{% endblock %}
                    <ul style="font-size: 150%; list-style-type: none; padding:20px;">
                        <li class="mb-4">: </li>
                        <li class="mb-4">: </li>
                        <li class="mb-4">: </li>
                        <li class="mb-4">:

                        </li>
                    </ul>