{% extends 'base.html' %}

{% block left %}

<div class="container">
    <div class="row">
        <div class="col-6" style="background-color: white;">
            <table class="table table-sm table_sticky1 mt-2">
                <thead>
                    <tr>
                        <th scope="col">Parameter</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>ID</b></td>
                        <td><i>{{ object.id }}</i><br></td>
                    </tr>
                    <tr>
                        <td><b>First name</b></td>
                        <td><i>{{ object.first_name }}</i><br></td>
                    </tr>
                    <tr>
                        <td><b><b>Last name</b></b></td>
                        <td><i>{{ object.last_name }}</i><br></td>
                    </tr>
                    <tr>
                        <td><b><b>Blood donated</b></b></td>
                        <td><i>{{ given_blood_litres }} litres</i><br></td>
                    </tr>
                    <tr>
                        <td><b><b>Status</b></b></td>
                        <td><i>{{ status }}</i><br></td>
                    </tr>
                    <tr>
                        <td><b>Gender</b></td>
                        <td><i>{{ object.gender }}</i><br></td>
                    </tr>
                    <tr>
                        <td><b>PESEL</b></td>
                        <td><i>{{ object.pesel }}</i><br></td>
                    </tr>
                    <tr>
                        <td><b>Blood Type</b></td>
                        <td><i>{{ object.blood_group }}</i><br></td>
                    </tr>
                    <tr>
                        <td><b>Email</b></td>
                        <td><i>{{ object.email}}</i><br></td>
                    </tr>
                    <tr>
                        <td><b>Phone number</b></td>
                        <td><i>{{ object.formatted_phone_number }}</i><br></td>
                    </tr>
                    <tr>
                        <td><b>Date of Register</b></td>
                        <td><i>{{ object.date_of_register }}</i><br></td>
                    </tr>
                    <tr>
                        <td><b>Medical worker responsible for registration</b></td>
                        <td><i>{{ object.medical_worker_responsible_for_register }}</i><br></td>
                    </tr>
                    <tr>
                        <td><b>Can donate</b></td>
                        <td><i>{{ can_donate }}</i><br></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6" style="background-color: white;">
            <h3 class="text-center mt-2">Donor history</h3>
            <div class="border" style="height: 450px;overflow:auto;">

                {% for donation in object.history_of_donation %}
                {% include 'donation_history.html' %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block right %}
<div class="p-2">
    <a style="text-decoration: none;" href="{% url 'blood-donation' object.id %}"><button type="button"
            class="btn-lg btn-block btn-success mb-2">Donate Blood</button></a>
    <a style="text-decoration: none;" href="{% url 'patient-create' %}"><button type="button"
            class="btn-lg btn-block btn-primary">Register Donor</button></a>
    <a style="text-decoration: none;" href="{% url 'patient-update' object.id %}"><button type="button"
            class="btn-lg btn-block btn-info  mt-2">Update Donor</button></a>
</div>
{% endblock %}