{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block left %}
    <div class="container">
            <div class="row">
                <div class="col-8" style="background-color: white;">
                     <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Check your status</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg btn-block">Check</button>
                        </div>
                    </form>
                </div>
                <div class="col-4" style="background-color: white;padding-top: 1.5em;">
                    <table style="border:none; border-collapse:collapse; cellspacing:0; cellpadding:0; text-align:center;" class="table table-striped">
                      <tr>
                        <th>Donor</th>
                      </tr>
                      <tr>
                        <th>{{ donor.first_name }} {{ donor.last_name }}</th>
                      </tr>
                        <tr>
                        <th>Donated blood(litres)</th>
                      </tr>
                        <tr>
                        <th>{{ given_blood_litres }}</th>
                      </tr>
                        <tr>
                        <th>Status</th>
                      </tr>
                        <tr>
                        <th>{{ status }}</th>
                      </tr>
                        <tr>
                        <th>Can you donate blood</th>
                      </tr>
                        <tr>
                        <th>{{ can_donate }}</th>
                      </tr>
                    </table>
                 </div>
            </div>
	</div>

{% endblock %}
