{% extends 'base.html' %}

{% block left %}

<script type="text/javascript">
    window.onload = function () {
        var chart_reserve = new CanvasJS.Chart("chart_reserve", {
            backgroundColor: "white",
            theme: "light2",
            animationEnabled: true,
            title: {
                text: "State of blood reserve"
            },
            axisY: {
                interval: 10,
                maximum: 100,
                suffix: "%",
            },
            data: [{
                type: "bar",
                toolTipContent: "<b>{label}</b>: {y}%",
                dataPoints: [{
                        %
                        for key,
                        value in bloods.items %
                    } {
                        label: "{{ key }}",
                        y: {
                            {
                                value
                            }
                        },
                        color: {
                            %
                            if value >= 70 %
                        }
                        "#01FF70" {
                            % elif value < 70 and value >= 30 %
                        }
                        "#FF851B" {
                            % elif value < 30 %
                        }
                        "#FF4136" {
                            % endif %
                        }
                    },
                    {
                        % endfor %
                    }
                ]
            }]
        });

        var blood_percent = new CanvasJS.Chart("blood_percent", {
            backgroundColor: "white",
            theme: "light2",
            animationEnabled: true,
            title: {
                text: "Blood share in banks"
            },
            data: [{
                type: "pie",
                startAngle: 25,
                toolTipContent: "<b>{label}</b>: {y}%",
                indexLabelFontSize: 16,
                indexLabel: "{label} - {y}%",
                dataPoints: [{
                        %
                        for key,
                        value in blood_all.items %
                    } {
                        label: "{{ key }}",
                        y: {
                            {
                                value
                            }
                        }
                    },
                    {
                        % endfor %
                    }
                ]
            }]
        });
        blood_percent.render();
        chart_reserve.render();
    }
</script>


<h2 class="text-center" style="padding-top: 0.5em;">Information about <b>all</b> blood in banks</h2>
<div class="container text-center" style="padding-top: 0.5em;">
    <div class="row">
        <div class="col">
            <div id="chart_reserve" style="height: 300px; width: 100%;"></div>
        </div>
        <div class="col">
            <div id="blood_percent" style="height: 300px; width: 100%;"></div>
        </div>
    </div>
</div>


<h2 class="text-center" style="padding-top: 0.5em;">See more information for specific branch</h2>
<div style="width:100%;text-align: center;" class="mb-3">
    {% for city in cities %}
    <a href="{% url 'info-branch' city %}" class="btn btn-info btn-lg active ml-2 mr-2" role="button"
        aria-pressed="true">{{ city }}</a>
    {% endfor %}
</div>

{% endblock %}

{% block right %}
{% if user.is_authenticated == False %}
<b>Register or login to see more functionality</b>
<br>
To prevent from register unauthorized people only medical employee can register. To do this they need to pass secret
word
<br>
To register you need to pass this - <b>Pickle Ricky</b> into "Secret word" field on register page
{% endif %}
{% endblock %}